<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
               https://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="address" class="com.zhang.pojo.Address">
        <property name="address" value="南锣鼓巷"/>
    </bean>
    <bean id="student" class="com.zhang.pojo.com.zzb.OOP.Student">
        <!--普通值注入-->
        <property name="name" value="张三"/>
        <!--bean注入-->
        <property name="address" ref="address"/>
        <!--数组注入-->
        <property name="books">
            <array>
                <value>红楼梦</value>
                <value>西游记</value>
                <value>三国演义</value>
                <value>水浒传</value>
            </array>
        </property>
        <!--list注入-->
        <property name="hobbys">
            <list>
                <value>游戏</value>
                <value>代码</value>
                <value>电影</value>
            </list>
        </property>
        <!--map注入-->
        <property name="card">
            <map>
                <entry key="身份证" value="123456"/>
                <entry key="驾照" value="654321"/>
                <entry key="银行卡" value="321456"/>
            </map>
        </property>
        <!--set注入-->
        <property name="games">
            <set>
                <value>LOL</value>
                <value>DNF</value>
            </set>
        </property>
        <!--null注入-->
        <property name="wife">
            <null/>
        </property>
        <!--Properties注入-->
        <property name="info">
            <props>
                <prop key="userName">admin</prop>
                <prop key="passWord">123456</prop>
            </props>
        </property>
    </bean>
</beans>